/* Style for the table container */
.admin{
    width: 100%;
    display: grid;
    justify-content: center;
}
.table-container {
    width: 100%;
    margin: 0 auto;
  }
  
  /* Style for the table */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style for table header */
  .table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style for table data */
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  /* Style for delete button */
  .delete-btn {
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .delete-btn:hover {
    background-color: #cc0000;
  }
  .delete-btn:disabled {
    background-color: #ddd;
  }
  select{
    border: none;
    font-size: 18px;
  font-family: "Poppins", sans-serif;

  }