.shelf-books {
  width: 100%;
  display: grid;
  justify-content: center;
}
.shelf-books .books {
  margin-top: 3%;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3%;
  justify-items: center;
  align-items: center;
}
.shelf-books .loader {
  grid-column-start: 3;
  height: 50vh;
}
.filter-container {
  margin-top: 2%;
  justify-self: center;
  width: 67vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filter-container p {
  margin: 0%;
  font-weight: 600;
}
.filter-container select {
  margin-left: 1%;
  font-size: 20px;
  border: none;
  color: #b996d4;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
.filter-container select:focus {
  outline: none;
}

.filter {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 600;
}

.filter button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
