.menu {
  width: 50%;
  align-self: center;
  justify-self: center;
  display: grid;
}
.menu ul {
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  padding: 0%;
  margin-bottom: 0%;
}
.menu ul li {
  list-style: none;
  display: grid;
  justify-items: center;
}
.menu-item {
  text-decoration: none;
  color: #adadad;
}
.menu-item:hover {
  color: #b996d4;
  transition-duration: 0.2s;
}
.menu-item.active {
  color: #b996d4;
}
.dot {
  width: 6px;
  height: 6px;
  background-color: #b996d4;
  border-radius: 100%;
  display: none; 
}

.dot.active {
  display: block; 
}
