.user {
  margin-top: 3%;
  width: 50%;
  justify-self: center;
}
.user-data {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.user-data .user-avatar {
  justify-self: center;
  width: 250px;
  height: 250px;
  background-color: #b996d4;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 600;
  color: #fff;
  grid-row-start: 1;
  grid-row-end: 4;
}
.user-data h1,
.user-data label,
.user-data h2,
.user-data form,
.user-data button {
  grid-column: 2 / span 2;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.user-data h1 {
  align-self: center;
}
.user-data label {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 2%;
}
.user-data label input {
  background-color: #f1f0f0;
  font-size: 16px;
  text-indent: 15px;
}
.user-data input:focus {
  outline: none;
}
.user-data .change-password {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
.user-data .change-password label {
  display: flex;
  justify-content: space-between;
}
.user-data .change-password label input {
  width: 70%;
}
.user-data .change-password p {
  margin: 0%;
  margin-bottom: 3%;
}
.user-data .change-password button {
  height: 3em;
  width: 30%;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  background-color: #adadad;
  color: #fff;
  align-self: end;
}
.user-data .change-password button:hover {
  background-color: #8d8d8d;
  transition-duration: 0.2s;
}
.user-data .save {
  height: 3em;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  background-color: #b996d4;
  color: #fff;
  box-shadow: 0px 4px 20px #b996d4;
}
.user-data .save:hover {
  background-color: #9e81b4;
  transition-duration: 0.2s;
}
.user-data .logout {
  justify-self: center;
  width: 20%;
  font-size: 20px;
  margin: 7% 0%;
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: #c54040;
}

.user-data .logout:hover {
  color: #000;
  transition-duration: 0.3s;
}
